body {
  background-color: black;
  width: 60%;
}

header {
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
}
nav {
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
}
.frame {
  height: 200px;
  border: 5px ridge;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
}
.left {
  float: left;
  width: 60%;
  border-right: 5px ridge;
}

section {
  height: 100px;
  border-bottom: 5px ridge;
  vertical-align: baseline;
  text-align: center;
  line-height: 300%;
  margin-top: -5px;
}
article {
  height: 100px;

  vertical-align: baseline;
  text-align: center;
  line-height: 300%;
}
aside {
  height: 200px;
  border-left: 0;
  line-height: 700%;
  margin-top: -5px;
  width: 100%;
}
footer {
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
}
