body {
  background-color: black;
  width: 60%;
}
.container {
  box-shadow: 5px 5px 5px 0px lightblue;
}

header {
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  background-image: repeating-conic-gradient(red 10%, yellow 20%);
}
nav {
  background-image: radial-gradient(red, green, blue);
  text-shadow: 2px 2px 0 white;
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
}
.frame {
  height: 200px;
  border: 5px ridge;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
}
.left {
  float: left;
  width: 60%;
  border-right: 5px ridge;
}

section {
  background-image: linear-gradient(red, yellow, blue);
  height: 100px;
  border-bottom: 5px ridge;
  vertical-align: baseline;
  text-align: center;
  line-height: 300%;
}
article {
  height: 95px;
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
  vertical-align: baseline;
  text-align: center;
  line-height: 300%;
}
aside {
  height: 205px;
  border-left: 0;
  line-height: 700%;

  width: 100%;
  background-image: conic-gradient(red, yellow, green);
}
footer {
  border: 5px ridge;
  padding: 4px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin-top: -5px;
  background-image: conic-gradient(red, yellow, green);
}
