body {
  width: 400px;
  text-align: center;
  background-color: black;
  margin: 0 auto;
  padding-top: 150px;
}
.container {
  background-color: rgb(30, 30, 30);
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100px;
  image-rendering: auto;
  border-radius: 100%;
}
h2 {
  color: yellow;
  font-size: 18px;
  margin: none;
  margin-top: -20px;
}

.box {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
}
.link {
  padding-top: 1em;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: white;
}
